
@{
    ViewBag.Title = "Ana Sayfa";
}
<div class="page-bar">
    <ul class="page-breadcrumb">
        <li>
            <span>Ana Sayfa</span>
        </li>
    </ul>
</div>
<h1 class="page-title">
    Ana Sayfa
    <small>Burada teklif , görüşme , görev , siparişleri tıklayarak ekleye bilirsiniz...</small>
</h1>
<div class="container-fluid">
    <div class="portlet light bordered">
        <div class="portlet-body">
            <div class="tiles">
                <div class="tile double-down bg-blue-hoki">
                    <div class="tile-body">
                        <i class="fa fa-meetup"></i>
                    </div>
                    <div class="tile-object">                      
                        <div class="name">Tıklayarak "Görüşme" ekleye biliriniz<i class="fa fa-plus"></i> </div>
                    </div>
                </div>
                <div class="tile bg-red-sunglo">
                    <div class="tile-body">
                        <i class="fa fa-tasks"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Görevler </div>
                        <div class="number"><span class="fa fa-plus"></span> 12 </div>
                    </div>
                </div>
                <div class="tile bg-blue-madison">
                    <div class="tile-body">
                        <i class="fa fa-first-order"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Siparişler </div>
                        <div class="number"><span class="fa fa-plus"></span> 12 </div>
                    </div>
                </div>
                <div class="tile selected bg-yellow-saffron">
                    <div class="corner"> </div>
                    <div class="tile-body">
                        <i class="icon-badge"></i>
                    </div>
                    <div class="tile-object">
                        <div class="name"> Teklifler </div>
                        <div class="number"><span class="fa fa-plus"></span>452 </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>